{template 'content','head'}
<!--top End-->
<!--ban-->
<div class="H_ban">
    <div class="box">
        <div class="Menu">
            <h4>关于我们</h4>
            <ul>
                {pc:content action="category" catid="16" num="20" siteid="$siteid" order="listorder ASC"}
                {loop $data $res}
                <li id="menu53">
                    <a href="{$res['url']}">{$res['catname']}</a>
                </li>
                {/loop}
                {/pc}
            </ul>
        </div>
        <div class="ban02">
            <a href=''><img src="{WEB_PATH}statics/home/uploadfiles/2013/10/201310211047364736.jpg" /></a>
        </div>
        <dl class="Current"><span>核心理念</span></dl>
    </div>
</div>
<!--ban End-->
<!--Star-->
<div class="Content">
    <!--Sidebar-->
    <div class="Sidebar">
        <div class="Sub">
            <h4>联系我们</h4>
            <div class="box">
                <p> <span style="font-family:微软雅黑, 'MS Sans Serif', sans-serif;font-size:13px;line-height:normal;white-space:normal;background-color:#FFEDC4;"> </span></p>
                <p class="MsoNormal"> 广东华凯科技股份有限公司<span lang="EN-US">
                        <o:p></o:p>
                    </span> </p>
                <p class="MsoNormal"> 公司总机：<span lang="EN-US">0757</span>—<span lang="EN-US">87381388<o:p></o:p></span> </p>
                <p class="MsoNormal"> 销售分机：<span lang="EN-US">0757-87381388</span>（<span lang="EN-US">300</span>）<span lang="EN-US">
                        <o:p></o:p>
                    </span> </p>
                <p class="MsoNormal"> 人资分机：<span lang="EN-US">0757-87381388</span>（<span lang="EN-US">379</span>）<span lang="EN-US">
                        <o:p></o:p>
                    </span> </p>
                <p class="MsoNormal"> 地<span lang="EN-US">&nbsp; &nbsp; &nbsp;&nbsp;</span>址：广东省佛山市三水区中心科技工业区<span lang="EN-US">A</span>区<span lang="EN-US">19</span>号<span lang="EN-US">
                        <o:p></o:p>
                    </span> </p>
                <p> <br /></p>
                <p> <span style="font-family:微软雅黑, 'MS Sans Serif', sans-serif;font-size:13px;line-height:normal;white-space:normal;background-color:#FFEDC4;"></span></p>
            </div>
        </div>
    </div>
    <!--Sidebar End-->
    <!--Right-->
    <div class="RightSidebar">
        <div class="MainContent">
            <!--Star-->
            <p> <span style="white-space:normal;"> </span></p>
            <p class="MsoNormal"> 随着社会的不断进步<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 有社会责任的企业，正在追寻着一种与自然和谐共处的可持续发展方式<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 以植物纤维和可再生纤维为主要材料的特种纤维板<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 具有超越并可替代部分动物皮革、石化产品的卓越功能<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 华凯公司顺应循环经济和环保消费方式之势<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 正在逐步成长，前景广阔<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> &nbsp;</p>
            <p class="MsoNormal"> 作为一家集专业研发、生产、销售的高新技术企业<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 自诞生起，便以洞察行业发展方向的远见<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 致力构建产学研一体的发展体系<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 公司发展至今，成功组建了“佛山市特种纤维板材料工程技术研究开发中心”<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 旗下拥有的自主创新和先进的自动化生产线，年生产能力超过<span lang="EN-US">2000</span>万张<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 在成功将乳胶纤维板、高密度纤维板产品逐步推向国际市场之后<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 华凯自始至终关注着特种纤维板材料在高科技制造领域的广泛应用<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 坚持自我创新，追求技术进步<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 未来研发的产品，将全面进入造船、电子电力、汽车制造等行业<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 旨在进一步拓展行业市场，提升企业核心竞争力<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p class="MsoNormal"> 为中国特种纤维材料制造和可循环经济的发展做出贡献<span lang="EN-US">
                    <o:p></o:p>
                </span> </p>
            <p> <br /></p>
            <!--End-->
        </div>
    </div>
    <!--Right End-->
    <div class="Space45"></div>
</div>
<!--End-->
<!--bottom-->
{template 'content','foot'}