{template 'content','head'}
    <!--top End-->
    <!--ban-->
    <div class="H_ban">
        <div class="box">
            <div class="Menu">
                <h4>新闻中心</h4>
                <ul>
                    {pc:content action="category" catid="9" num="20" siteid="$siteid" order="listorder ASC"}
                    {loop $data $res}
                        <li id="menu53">
                            <a href="{$res['url']}">{$res['catname']}</a>
                        </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
            <div class="ban02">
                <a href=''><img src="{WEB_PATH}statics/home/uploadfiles/2013/10/201310211048184818.jpg" /></a>
            </div>
            <dl class="Current"><span>{$rs['title']}</span></dl>
        </div>
    </div>
    <!--ban End-->
    <!--Star-->
    <div class="Content">
        <!--Sidebar-->
        <div class="Sidebar">
            <div class="Sub">
                <h4>公司视频</h4>
                <div class="box">
                    <p> <span style="font-family:微软雅黑, 'MS Sans Serif', sans-serif;font-size:13px;line-height:normal;white-space:normal;background-color:#FFEDC4;"> 简介</span></p>
                    <p class="MsoNormal"> {$rs['description']}<span lang="EN-US">
                            <o:p></o:p>
                        </span> </p>
                   
                </div>
            </div>
        </div>
        <!--Sidebar End-->
        <!--Right-->
        <div class="RightSidebar" style="min-height:365px;">
             <video src="{$rs['content']}"  style="width:638px;height:340px;"  controls="controls"></video>
        </div>
        <!--Right End-->
        <div class="Space45"></div>
    </div>
    <!--End-->
    <!--bottom-->
   {template 'content','foot'}